*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --layout-margin: 5rem;
  --primary-color: #ff0000;

}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea {
  font-family: "Montserrat", sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;

}

.sub-txt {
  font-size: 22px;
  color: #808080;
  font-weight: 400;
  line-height: 28.91px;
}

.txt-highlight {
  color: var(--primary-color);
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

 h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 76px;
} 

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 59px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

p {
  font-size: 22px;
  line-height: 28px;
  color: #808080;
}

a {
  color: #ff0000;
}
