
*, ::after, ::before{
  box-sizing: border-box;
}

body {
  margin: 0;
 font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  width: 100vw;
  padding: 0 1rem;
  /* margin: 0 auto; */
  overflow-x: hidden;
  overflow-y: auto;
}

.container{
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto
}

.txt-highlight {
  color: #ff0000
}
