
*, ::after, ::before{
  box-sizing: border-box;
}

body {
  margin: 0;
 font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea{
 font-family: 'Montserrat', sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  width: 100vw;
  padding: 0 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.container{
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
}

.txt-highlight {
  color: #ff0000
}

h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 75.58px;
}

h2 {
  font-size: 48px;
line-height: 59px;
}

h3 {
  font-size: 22px;
line-height: 27px;
}

p {
  font-size:22px;
  line-height: 28.91px;
  color: #808080;
}

a {
  color: #ff0000;
}